* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
}
.subheader {
  text-align: center;
  /* font-weight: 400; */
  font-size: 2rem;
  padding: 10px;
}
.recipe-title {
  text-align: center;
  /* font-weight: 400; */
  font-size: 1.5rem;
  padding: 10px;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: larger;
}
.recipes {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.cover-img-container {
  position: relative;
  overflow: hidden;
}
.cover-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
}

.cover-img-overlay:hover {
  opacity: 1;
  border-radius: 16px;
}

.view-details-btn {
  /* background-color: #f1e185; */
  color: #f5e6e6;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 16px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}
.cover-img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}
.cover-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  padding-top: 6px;
  padding-bottom: 6px;
}
.banner-img:hover {
  transform: scale(1.15);
  transition: 0.9s;
}
.footer {
  background-color: rgb(48, 46, 46);
  color: beige;
  text-align: center;
  padding: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
}
/* button styling */
.btn {
  --color: #479f76;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: none;
  background-color: transparent;
  margin-top: 20px;
}

.btn div {
  letter-spacing: 2px;
  font-weight: semibold;
  background: var(--color);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
}

.btn::before {
  content: "";
  z-index: -1;
  background-color: var(--color);
  border: 2px solid white;
  border-radius: 2rem;
  width: 110%;
  height: 100%;
  position: absolute;
  transform: rotate(10deg);
  transition: 0.5s;
  opacity: 0.2;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.btn:hover::before {
  transform: rotate(0deg);
  opacity: 1;
}
/* .navbar {
  display: flex;
  justify-content: space-around;
} */
.logo-section{
    background: rgb(145, 236, 157);
    display: flex ;
    align-items: center;
    justify-content: center;
}
.logo-section img{
    height: 50px;
}
.btn svg {
  transform: translateX(-200%);
  transition: 0.5s;
  width: 0;
  opacity: 0;
}

.btn:hover svg {
  width: 25px;
  transform: translateX(0%);
  opacity: 1;
}

.btn:active {
  filter: brightness(1.4);
}

/* <h2>Name: ${data[i].recipeName}</h2>
<p>cuisine: ${data[i].cuisine}</p>
<p>servings: ${data[i].servings}</p>
<p>prepTime: ${data[i].prepTime}</p>
<p>Cook Time: ${data[i].cookTime}</p>
<img src='${data[i].coverImage}' alt="${data[i].recipeName}"> */
